{% extends "planner/layout.html" %}

{% block body %}

    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
            
                            <div class="mb-md-5 mt-md-4 pb-5">
            
                                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>

                                {% if message %}
                                    <p class="text-white-50 mb-5">{{ message }}</p>
                                {% else %}
                                    <p class="text-white-50 mb-5">Please enter your login and password!</p>
                                {% endif %}
                            
                                <form action="{% url 'register' %}" method="post">
                                    {% csrf_token %}

                                    <div class="form-outline form-white mb-4">
                                        <input class="form-control form-control-lg" type="email" name="email" id="typeEmail">
                                        <label class="form-label" for="typeEmail">Email</label>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <input type="text" id="typeUsername" name="username" class="form-control form-control-lg" />
                                        <label class="form-label" for="typeUsername">Username</label>
                                    </div>
                    
                                    <div class="form-outline form-white mb-4">
                                        <input type="password" id="typePassword" name="password" class="form-control form-control-lg" />
                                        <label class="form-label" for="typePassword">Password</label>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <input type="password" id="confirmation" name="confirmation" class="form-control form-control-lg"/>
                                        <label class="form-label" for="confirmation">Confirmation</label>
                                    </div>
                    
                                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                                </form>
                            </div>
            
                            <div>
                                <p class="mb-0">Already have an account? <a href="{% url 'login' %}" class="text-white-50 fw-bold">Sign Up</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}